doctype html
html
  head
    title= title
  body
    h1= title
    form(action='/update-cobj' method='POST')
      label(for='name') Name:
      input(type='text' name='name' required)
      br
      label(for='bio') Bio:
      textarea(name='bio')
      br
      label(for='age') Age:
      input(type='number' name='age')
      br
      button(type='submit') Submit
    a(href='/') Return to the homepage
